.loginContainer{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-data{
    justify-content: space-between;
}
.form-input{
    display: block;
    margin-top: 2vh;
    margin-bottom: 4vh;
    border: 2px solid rgb(220, 216, 216);
    border-top: 0vh;
    border-left: 0vh;
    border-right: 0vh;
    width: 80vw;
    font-size: 22px;
    outline: 0px;
    padding: 10px;
}
.form-submit{
    display: block;
    margin-top: 6vh;
    margin-bottom: 2vh;
    width: 85vw;
    border-radius: 8px;
    color: white;
    background-color: #445ae3;
    border-color: #445ae3;
    font-size: 22px;
    padding: 15px;
}
.form-input::placeholder{
    font-weight: bold;
    color: rgb(93, 89, 89);
}
.new-account{
    justify-content: space-between;
    display: inline;
    font-size: 20px;   
    
}
.create{
    display: inline;
    color: white;
    background-color: #ec75f6;
    border: 2px solid #ec75f6;
    border-radius: 8px;
    padding: 8px;
    /* font-weight: bold; */
    margin: 10px;
}
.top{
    margin-top: 2vh;
}
#love{
    margin: auto;
    width: 30vw;
    height: 20vh;
    display: block;
}