.leaderboard-tile {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.leaderboard-tile h2,
h3,
p {
  margin: 0;
}

.user-rank {
  padding: 8px 24px 8px 8px;
  font-weight: 500;
  letter-spacing: 2px;
}

.user-name {
  margin: 0;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.user-fires {
  font-size: medium;
}

.fst-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-display-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin: 12px;
}

.firstsecondthird-container {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
  margin-top: 30px;
  position: relative;
}

.rank-2 {
  width: 9rem;
  height: 9rem;
  z-index: -1;
  border: 4px solid silver;
}

.rank-2-tag {
  background-color: silver;
  border-radius: 50%;
  padding: 3.5px 8px;
  font-size: 13px;
  margin-right: 8px;
  font-weight: 700;
}

.rank-1 {
  width: 12rem;
  height: 12rem;
  border: 4px solid goldenrod;
  position: relative;
}

.rank-1-tag {
  background-color: goldenrod;
  border-radius: 50%;
  padding: 3.5px 9px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.rank-1-rays {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 500px;
  transform: translate(0, -150px);
}

.crown-icon {
  color: goldenrod;
  position: absolute;
  top: -24px;
}

.user-name-fst {
  font-weight: 500;
}

.rank-3 {
  width: 8rem;
  height: 8rem;
  border: 4px solid brown;
}

.rank-3-tag {
  background-color: brown;
  border-radius: 50%;
  padding: 3.5px 8px;
  font-size: 13px;
  margin-right: 8px;
  font-weight: 700;
  color: white;
}

@media screen and (width < 420px) {
  .rank-1 {
    width: 7rem;
    height: 7rem;
    font-size: 13px;
  }
  .rank-2 {
    width: 5rem;
    height: 5rem;
    font-size: 13px;
  }
  .rank-3 {
    width: 5rem;
    height: 5rem;
    font-size: 13px;
  }
}

@media screen and (420 <= width <= 640) {
  .rank-1 {
    width: 8rem;
    height: 8rem;
    font-size: 14px;
  }
  .rank-2 {
    width: 7rem;
    height: 7rem;
    font-size: 14px;
  }
  .rank-3 {
    width: 6rem;
    height: 6rem;
    font-size: 14px;
  }
}