h1 {
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heading {
  padding: 0 20px;
  letter-spacing: 0.7px;
  color: purple;
}

.error-div {
  color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.bottom-navigation-bar .profile-image-button {
  padding: 6px;
}

.profile-image-button img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
